<div class="jumbotron">
    <h1>Find Blood Easily According to your needs</h1>
    <p class="lead">"A life may depend on a gesture from you, a bottle of blood"</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Importance of Blood Donation</h2>
        <p> Blood donation is one of the noblest and greatest donations a man can make.
        Blood is our life-sap. It has no substitute. Several lives are lost for want of blood.
        Doctors need blood for transfusing it in the body of persons after operation and similar situations when a lot of blood flows out of the person’s body.
</p>
 </div>
   
</div>
